:root {
  --main: #5845c5;
  --primary: #5350d5;
  --lightPrimary: #dbe9f6;
  --linear: linear-gradient(179deg, #176eb5, #d545d7);
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  background: var(--linear) no-repeat;
  color: #fff;
}
